summary,p,li{
  font-size: 1.3rem;
}
img{
  width:600px;
  height: 360px;
}
h4,strong{
  font-size: 1.4rem;
  color:brown;

}

h3{
  font-size: 1.5rem;
  color:green;

}
h2{
  font-size: 1.6rem;
  color:blue;

}