body{
  padding:1rem;
}
*{
  padding-right:0.1rem;
}


.table-footer{
  display: flex;
  justify-content: space-around;
  direction: rtl;

}
.dialogues-col{
border:1px solid green;
}
.vocabularies-col{
border: 1px solid green;

}

.dialogues-col,.vocabularies-col{
  flex:1;
  direction: rtl;  
}

p.col-title{
  text-align: center;
  color:white!important;
  background-color: steelblue;
}